

topページ

<p><%= link_to 'user/sign_in', new_user_session_path %></p>
<p><%= link_to 'user/registration', new_user_registration_path %></p>

<p><%= link_to 'new_admin_session', new_admin_session_path %></p>